<section class="top-section">
    <h1>Add Images</h1>
    <form class="image-form" (submit)="addHandler($event)">
        <div class="form-row">
            <label for="">Image Name</label>
            <input type="text" (change)="imageNameHandler($event)" value={{image_name}}>
        </div>

        <div class="form-row">
            <label for="">Image Src</label>
            <input type="text" (change)="imageSrcHandler($event)" value={{image_src}}>
        </div>

        <input class="submit-image" type="submit" value="Add">

    </form>
</section>