.top-section{
    padding: 3em;
}

.image-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2px;
}

.form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-image{
    // width: 10em;
    margin-top: 5px;
    
}