.bottom-section{
    padding: 3em;
}

.show-image-form{
    display: flex;
    justify-content: space-between;
    width: 30%;
    gap: 2px; 
}

.view-button{
    padding: 0 15px;
}

.img-wrapper{
    margin-top: 20px;
    width: 30%;

    img{
        width: 100%;
        object-fit: cover;
    }
}