section {
  padding: 3em 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: black;

  > h1 {
    color: white;
    font-size: 3em;
  }
}
